[user]
  name = Nei Santos
  email = nrauni@gmail.com

[github]
  user = nei

[core]
  editor = vim
  autocrlf = input

[help]
	autocorrect = 1 # Automatically correct and execute mistyped commands

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
