#!/usr/bin/env bash

# access container's bash by matching name
function dbash() { 
	docker exec -it $(docker ps -aqf "name=$1") bash;
}

# execute a make inside container
function dmake() {
	docker exec -it $(docker ps -aqf "name=web") make $1; 
}

# execute php inside container, useful for clean cache cmds
function dphp() {
	docker exec -it -u www-data $(docker  ps -aqf "name=web") php "$@"; 
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}
